.uploader {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
}

#file__input {
    display: none;
}

.drag-drop-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #fff;
    padding: 10px;
}

.drag-drop {
    display: flex;
    padding: 10px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 200px;
    border: 2px dashed #93B0B3;
    border-radius: 5px;
    cursor: pointer;
    color: #184350;
}

.drag-drop span {
    color: #1E4855;
    font-weight: 800;
}